<div class="gtd-app">
  {{app-header}}
  <div class="main-container">
    <div class="left-menu">
      <div>{{#link-to "main.current"}}Current{{/link-to}}</div>
      <div>{{#link-to "main.archive"}}Archive{{/link-to}}</div>
    </div>
    <div class="main-content">
      {{outlet}}
    </div>
  </div>
</div>
